.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 0.5rem;
    padding: 0 5vw;
    color:rgb(53, 50, 50); 

}

.stats-title{
    font-weight: bold;
}

.stats-number{
    font-size: 1.4rem;
}